
.detail_order {
    margin-top: 8px;
    position: relative;
    border: 1px solid var(--colorPrimary);
    border-radius: 10px;
    background: var(--white);
    margin-bottom: 20px;
}

.detail_more {
    width: 110px;
    position: absolute;
    bottom: -1px;
    left: 30%;
    text-align: center;
    align-items: center;
    background: var(--white);
}
.detail_head {
    background-color: var(--colorPrimary);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.title {
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
}
.status_wrap {
    background-color: var(--pink);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
.flex_Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}